body{
	background-image: url(../img/d4fab7a666bc627cc2bcb4f00aa6d2a7958cee80.png@1366w.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}